<header class="navbar navbar-light bg-light border-bottom px-3">
    <button id="toggleSidebarBtn" class="btn btn-primary">
        <i class="fa-solid fa-bars"></i>
    </button>

    <span class="ms-auto me-3">
        <i class="bi bi-person-circle"></i>
        Hello
    </span>

    <button id="logoutBtn" class="btn btn-danger">
        <i class="bi bi-box-arrow-right"></i> Logout
    </button>
</header>